body{ font-family: "Roboto";
    font-size: 19px;
  margin: 0; background-color: black;}
  header {background-color: white;
      text-align: center; padding: 10px;;}
  h1 {font-size: 50
  ;}
  .container {
      width: 600px;;
      margin:0 auto
      
  }
  .post { box-shadow: 1px;background-color: white
    ; margin-top:50px   ;}
  
  .post-header {margin-left: 15px;
       align-items: center; flex-wrap: nowrap;}
  
  .Html5 {display:flex ;flex-direction: row; }
      
  img {width: 100%;}
  p {padding-top: 30px;margin:10px;}
  span {margin: 10px;padding:10px;}
  
  span {
      text-align: justify;
  }
  
  
  .icons {
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    padding: 10px;
    box-sizing: border-box;
  }
  *// me falta el icon moverlo al final como el ejemplo del prof 